- if @portlet.show_posts_as == 'post'
  = render :partial => '/partials/blog_post', :collection => @blog_posts
- elsif @portlet.show_posts_as == 'link'
  %ul.blog_posts
    - for blog_post in @blog_posts
      - text = @portlet.render_blog_post_code.present? ? eval(@portlet.render_blog_post_code) : text = truncate(blog_post.name, 30)
      %li= link_to text, _blog_post_path(blog_post)
- else
  Unrecognized option '#{@portlet.show_posts_as}' for @portlet.show_posts_as
