<h2>Blog posts from <%= Date::MONTHNAMES[@date.month] %> <%= @date.year %></h2>

<% unless @blog_posts.empty? %>
  <%= render :partial => "partials/blog_post", :collection => @blog_posts %>
<% else %>
  <p>Sorry, none found.</p>
<% end %>

